rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /portfolio_images/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /portfolio_covers/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
