.logo-container {
  position: absolute; // Konumlandırmak için absolute kullanıyoruz
  bottom: 150px; // Sağ alt köşede 10px boşluk bırakır
  right: -45px; // Sağ alt köşede 10px boşluk bırakır
  max-width: 250px; // Konteyner genişliğini sınırlamak için
  max-height: 250px; // Konteyner yüksekliğini sınırlamak için
  z-index: 1; // Üstte olmasını sağlar
}

img {
  max-width: 100%; // Resmin konteyneri taşmasını engeller
  height: auto; // Oranı korur
  display: block; // Resmin altında boşluk olmamasını sağlar
}
