$primary-color: #1B1B1B; // Siyah
$accent-color-1: #FFD700; // Zümrüt Yeşili
$accent-color-2:  #FFD700; // Fildişi
$accent-color-3: #3A9D23; // Yeşil
$text-color: #F7FFF7; // Beyaz
$background-color: #1B1B1B; // Siyah
$secondary-text-color: #F7FFF7; // Beyaz
$btn-border-color: #FF6B6B; // Buton kenarlık rengi
$btn-hover-bg-color: #FF6B6B; // Buton hover arka plan rengi
$gradient-start-color: #4ECDC4; // Gradient başlangıç rengi
$icon-color: #393838; // İkon rengi
